<%- include("partials/header"); -%>

    <h1>ABOUT ME</h1>
    <h2>Akhilesh Gautam</h2>
    <h3>~ I am a Full Stack Web Developer & Designer focused on crafting Great web experiences.</h3>

       <h3> Coding and design have always been my passions since I first started working with computers, but it wasn't until last year that I discovered Web development.</h3>
        
        <h3>I am currently a Software Engineering student at Delhi Technological University.</h3>
        
        <h3>concentrate on creating excellent web pages. Since I was a child, coding and design have been two of my main interests, with a strong preference for web development and design in particular.</h3>
        
        <h3>I've worked on a number of projects, some of which are now operational. They've had a lot of positive response, which makes me want to learn more about this profession.</h3>
    <p> <%= aboutContent %> </p>
   
<%- include("partials/footer"); -%>